<!--suppress HtmlFormInputWithoutLabel -->
{{define "form"}}
<div class="row no-gutters block-9">
    <div class="col-md-12 order-md-last mb-5 d-flex justify-content-center">
        <form id="issue-form" action="/" method="post" class="col-md-9 p-4 p-md-5 contact-form">
            <div class="d-md-flex">
                <div class="form-group col-md-6">
                    <input pattern="((.+?)#\d{4})" name="reporter" type="text"
                           minlength="6" maxlength="50" class="form-control"
                           placeholder="Discord Adınız, Örn: Asena#2614" required>
                </div>
                <div class="form-group col-md-6">
                    <input pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|&quot(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                           name="mail" type="email" minlength="0" maxlength="150"
                           class="form-control" placeholder="E-Mail Adresiniz" required>
                </div>
            </div>
            <div class="d-md-flex">
                <div class="form-group col-md-6">
                    <select name="type" class="form-control" required>
                        <option value="" disabled selected>Bir Konu Başlığı Seçin</option>
                        <option value="Bug">Bug</option>
                        <option value="Security">Güvenlik Açığı</option>
                        <option value="Improvement">İyileştirme</option>
                        <option value="New Feature">Yeni Özellik İsteği</option>
                        <option value="Proposal">Öneri</option>
                        <option value="Other">Diğer</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select name="priority" class="form-control" required>
                        <option value="" disabled selected>Bir Önem Düzeyi Seçin</option>
                        <option value="Lowest">Çok Düşük</option>
                        <option value="Low">Düşük</option>
                        <option value="Medium">Orta</option>
                        <option value="High">Yüksek</option>
                        <option value="Highest">Kritik</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input name="title" type="text" minlength="1" maxlength="150" class="form-control"
                       placeholder="Başlık" required>
            </div>
            <div class="form-group col-md-12">
        <textarea name="description" minlength="30" maxlength="3000" class="form-control"
                  placeholder="Açıklama (Minimum 30, Maksimum 3000 karakter)" rows="5" required></textarea>
            </div>
            <div class="form-group col-md-12 d-flex">
                <button type="submit" class="btn-submit btn btn-success btn-block">Gönder</button>
            </div>
            <small class="col-sm-12 form-text text-muted">* Tüm alanların doldurulması zorunludur.</small>
        </form>
    </div>
</div>
{{end}}