@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 75px;
}

.title {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

.header-text {
    font-size: 34px;
    font-family: "Poppins", sans-serif;
}

form {
    background-color: #00000007;
    border: 1px solid #00000010;
}

.form-control {
    font-family: "Poppins", sans-serif;
}

.form-control:focus {
    border: 2px solid #17b978;
    outline: 0 none;
}

.btn-submit {
    height: 45px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}